<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Hillel Java Tests">

    <test name="Homework 16 tests">
        <classes>
            <class name="Homework16.EvenNumber"/>
            <class name="Homework16.NumberInPower"/>
            <class name="Homework16.StringReverse"/>
        </classes>
    </test>
</suite>