<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Hillel Java Tests">

    <test name="Classwork 16 tests">
        <classes>
            <class name="Classworks.EvenNumberTest"/>
            <class name="Classworks.NumberInPowerTest"/>
            <class name="Classworks.StringReverseTest"/>
        </classes>
    </test>

    <test name="Homework 18 tests">
        <classes>
            <class name="Homeworks.Homework18.SauceDemoTestUI"/>
            <class name="Homeworks.Homework18.PriceUaSearchSearchResultTestUI"/>
            <class name="Homeworks.Homework18.Guru99TestUI"/>
        </classes>
    </test>

    <test name="Homework 19 tests">
        <classes>
            <class name="Homeworks.Homework19.BookingTestUI"/>
        </classes>
    </test>
    <test name="Homework 20 tests">
        <classes>
            <class name="Homeworks.Homework20.RozetkaTestUI"/>
        </classes>
    </test>
    <test name="Homework 21 tests">
        <classes>
            <class name="Homeworks.Homework21.DragNDropTestUI"/>
            <class name="Homeworks.Homework21.iFrameTestUI"/>
            <class name="Homeworks.Homework21.SwitchTabsText"/>
        </classes>
    </test>
    <test name="Homework 22 tests">
        <classes>
            <class name="Homeworks.Homework22.GoogleSearchTestUI"/>
            <class name="Homeworks.Homework22.BookingPageObjectTestUI"/>
            <class name="Homeworks.Homework22.RozetkaPageObjectTestUI"/>
        </classes>
    </test>

    <test name="Homework 23 tests">
        <classes>
            <class name="Homeworks.Homework23.SportCheckAddToCartTestUI"/>
        </classes>
    </test>

    <test name="Homework 24 tests">
        <classes>
            <class name="Homeworks.Homework24.TripMyDreamTest"/>
        </classes>
    </test>

    <test name="Homework 25 tests">
        <classes>
            <class name="Homeworks.Homework25.Tests.AddToBasketUsingSearch_Test2"/>
            <class name="Homeworks.Homework25.Tests.AddTwoProductsToBasket_Test3"/>
            <class name="Homeworks.Homework25.Tests.AddTwoProductsToBasketFromComparison_Test4"/>
            <class name="Homeworks.Homework25.Tests.UsePriceFilter_Test5"/>
            <class name="Homeworks.Homework25.Tests.UseMemorySizeFilter_Test6"/>
            <class name="Homeworks.Homework25.Tests.CompareTwoPlusOneProducts_Test7"/>
        </classes>
    </test>

    <test name="Homework 26 tests">
        <classes>
            <class name="Homeworks.Homework26.Tests.JQueryHideColumnTest"/>
            <class name="Homeworks.Homework26.Tests.JQuerySearchTest"/>
            <class name="Homeworks.Homework26.Tests.JQuerySortTest"/>
            <class name="Homeworks.Homework26.Tests.StreamApiRozetkaTest"/>
        </classes>
    </test>
</suite>