<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Hillel Java Tests">

    <test name="Classwork 16 tests">
        <classes>
            <class name="Classwork18.EvenNumberTest"/>
            <class name="Classwork18.NumberInPowerTest"/>
            <class name="Classwork18.StringReverseTest"/>
        </classes>
    </test>

    <test name="Homework 18 tests">
        <classes>
            <class name="Homeworks.Homework18.SauceDemoTest"/>
            <class name="Homeworks.Homework18.PriceUaSearchSearchResultTest"/>
            <class name="Homeworks.Homework18.Guru99Test"/>
        </classes>
    </test>

    <test name="Homework 19 tests">
        <classes>
            <class name="Homeworks.Homework19.BookingTest">
            </class>
        </classes>
    </test>
</suite>